{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Python Pro</title>

		<meta name="description" content="Página do curso Python Pro">
		<meta name="author" content="Fabio Zanetti">

		<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'base:home' %}">Python Pro</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron bg-secondary-subtle rounded py-5 ps-4 my-2">
						<h2>
							Curso de Python com Luciano Ramalho
						</h2>
						<h4 class="pt-3">Matrículas abertas: R$1.000,00</h4>
						<!-- INICIO DO BOTAO PAGSEGURO -->
						<a href="https://pag.ae/7Z-YfP-NM/button" target="_blank" title="Pagar com PagSeguro">
							<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
						</a><!-- FIM DO BOTAO PAGSEGURO -->

<!--						<h4 class="pt-3">Entre na fila de espera</h4>-->
<!--						<form action="https://hotmail.us11.list-manage.com/subscribe/post?u=433e92ea94a5d7885d3c66bf3&amp;id=5c60e565d5&amp;f_id=00fea6e0f0"-->
<!--							  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
<!--							  class="validate row gy-2 gx-3 align-items-center"-->
<!--							  target="_self" novalidate="">-->
<!--							<div class="col-auto">-->
<!--								<label class="visually-hidden" for="mce-EMAIL">Email</label>-->
<!--								<input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL"-->
<!--									   required="" value="" placeholder="exemplo@gmail.com">-->
<!--							</div>-->
<!--							<div class="col-auto">-->
<!--								<label class="visually-hidden" for="mce-FNAME">Username</label>-->
<!--								<div class="input-group">-->
<!--									<input type="text" name="FNAME" class="form-control text" id="mce-FNAME" value=""-->
<!--										   placeholder="Nome">-->
<!--								</div>-->
<!--								<div aria-hidden="true" style="position: absolute; left: -5000px;">-->
<!--									/* real people should not fill this in and expect good things - do not remove this-->
<!--									or risk form bot signups */-->
<!--									<input type="text" name="b_433e92ea94a5d7885d3c66bf3_5c60e565d5" tabindex="-1"-->
<!--										   value="">-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-auto">-->
<!--								<input type="submit" name="subscribe" id="mc-embedded-subscribe"-->
<!--									   class="button btn btn-primary" value="Enviar">-->
<!--							</div>-->
<!--						</form>-->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img class="img-thumbnail float-start me-3" src="{% static 'img/Luciano-Ramalho.jpeg' %}"
									 alt="Foto do Luciano Ramalho">
								Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e
								autor do Livro <a href="https://www.amazon.com/_/dp/1491946008?tag=oreilly20-20"
												  target="_blank">Fluent Python</a>. Foi diretor técnico do Brasil
								Online, primeiro portal da Abril S/A na Web. Liderou times para os portais IDG Now, BOL,
								UOL, AOL Brasil e outros, usando Python desde 1998. Como instrutor, atendeu clientes
								como Citibank, CPqD, Serpro, Presidência da República, Globo.com e Itaú. Palestrante em
								eventos internacionais como FISL, PyCon US e OSCON. Ajudou a criar a Associação Python
								Brasil e foi seu presidente. É membro da Python Software Foundation e fundador do Garoa
								Hacker Clube, o primeiro hackerspace do Brasil.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="main-footer mt-5 pt-3 text-light">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3>Entre em contato</h3>
						<address>
							+55 19 96321 1234
							<br/>
							<a class="text-light" href="mailto: ramalho@python.com.br">ramalho@python.com.br</a>
						</address>
					</div>
				</div>
			</div>
			<div class="rights">
				<div class="container pb-4">
					<div class="row">
						<div class="col">
							{% now 'Y' %} Todos direitos reservados.
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>