<footer class="main-footer mt-5 pt-3 text-light">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3>Entre em contato</h3>
						<address>
							+55 19 96321 1235
							<br/>
							<a class="text-light" href="mailto:{{ contato_email }}">{{ contato_email }}</a>
						</address>
					</div>
				</div>
			</div>
			<div class="rights">
				<div class="container pb-4">
					<div class="row">
						<div class="col">
							{% now 'Y' %} Todos direitos reservados.
						</div>
					</div>
				</div>
			</div>
		</footer>